<div class="container">
  <div class="row">
    <h1>新規登録</h1>
    <div class="col-xs-12">
      <h1>収支の登録</h1>
      <br>
      <%= form_for(@balance) do |f|%>
        <table class="table table-hover">
          <tr>
            <th>収/支</th>
            <th>金額</th>
            <th>日付</th>
            <th>使途</th>
            <th>分類</th>
            <th>備考</th>
            <th>削除</th>
          </tr>
          <tr>
            <td><%= f.select :balance_type, [["収入", true ], ["支出", false ]], :class => 'form-horizontal' %></td>
            <td><%= f.number_field :value, :class => 'form-control' %></td>
            <td><%= f.date_field :balance_date , :value => Date.today , :class => 'form-control' %></td>
            <td><%= f.text_field :column , :class => 'form-control' %></td>
            <td><%= f.collection_select :balance_class, BalanceClass.all, :balance_class, :balance_class %></td>
            <td><%= f.text_area :subject , :class => 'form-control' %></td>
          </tr>
        </table>
        <%= f.submit '収支の登録' , :method => 'post', :class => 'btn btn-primary' %>
      <% end %>
    </div>
    
  </div>
</div>
